<h1>Edit Book</h1>

<% if @book.user_id == current_user.id %>

<%= simple_form_for @book, :html => { :multipart => true } do |f|%>
	<%= f.select :category_id, @categories %>
	<%= f.file_field :book_img %>
	<%= f.input :title, label: "Book Title" %>
	<%= f.input :description %>
	<%= f.input :author %>
	<%= f.button :submit %>
<% end %>

<% else %>

<h3>You're not allowed to edit this book</h3>

<% end %>